@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Wallpoet&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main::after{
    content: "";
    background: #030129;
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container{
    width: 80vw;
    height: 80vh;
    position: relative;
    z-index: 5;
    border-radius: 20px;
    border: 2px solid #0A214B;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5),
                -5px -5px 20px rgba(0,0,0,0.1);
    margin-top: 80px;     
}

.container::after{
    content: "";
    background: #0A214B;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.9;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.sub-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 20px;
    padding: 2rem;  
}

.video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.video video{
    filter: blur(10px);
}

main-image{
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: -2;
}

.main-image img{
    width: 100%;
    filter: blur(60px);
}

nav{
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    gap: 20px;
}

nav .logo{
    width: 100px;
}

nav .logo img{
    width: 100%;
    object-fit: contain;
    filter: brightness(0) invert(0.7);
}

.nav-link{
    color: #dad5d5;
    text-decoration: none;
}

.character{
    position: absolute;
    z-index: 3;
    height: 95vh;
    bottom: -2px;
    right: 22vw;
}

.character img{
    height: 100%;
    object-fit: contain;
    /* filter: hue-rotate(75deg) grayscale(40%) opacity(0.9); */
}

.content-container{
    width: 100%;
    display: flex;
}

.content{
    position: relative;
    z-index: 2;
    width: 35%;
    font-size: 12px;
    color: #dad5d5;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.title{
    font-family: "Caveat Brush";
    font-size: 30px;
    color: #dad5d5;
}

.content h2{
    margin-bottom: 30px;
    font-size: 45px;
    display: flex;
    flex-direction: column;
}

.content h2 .split-text{
    height: 60px;
    overflow-y: hidden;
    margin-bottom: 20px;
}

.content h2 .split-text span{
    display: inline-block;
    transform: translateY(100px);
    opacity: 0;
}

.content h2 small{
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.title span{
    font-size: 60px;
    color: #DFDD73;
    -webkit-text-stroke: 1px #fff;
}

.side-nav{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 2;
    gap: 20px;
}

.side-nav .side-nav-link{
    color: #dad5d5;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0.6;
}

.side-nav .side-nav-link.active{
    font-size: 50px;
    font-weight: bolder;
    opacity: 1;
    position: relative;
}

.side-nav .side-nav-link.active::before{
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #dad5d5;
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
}

.loader{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #030129;
    z-index: 10;
}

.loader .top {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #17144e;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
  
  .loader .bottom {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #0d0c19;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
  }

  .loader .logo img{
    position: absolute;
    z-index: 10;
    width: 200px;
    filter: brightness(0) invert(1);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
  }